<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Schedular">
    <title>Schedular - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div id="nav-bar">
        <button id="nav-elem" onclick="location.href='/'">
            <i class="nav-icon fas fa-home"> Home</i>
        </button>
        <% if(!session.loggedin) { %>
            <button id="nav-elem" onclick="location.href='/er-login'">
                <i class="nav-icon fas fa-sign-in-alt"> Interviewer</i>
            </button>
            <button id="nav-elem" onclick="location.href='/ee-login'">
                <i class="nav-icon fas fa-sign-in-alt"> Interviewee</i>
            </button>
            <% } else { %>
                <button id="nav-elem" onclick="location.href='/settings'">
                    <i class="nav-icon fas fa-gear"> Edit</i>
                </button>

                <button id="nav-elem" onclick="location.href='/logout'">
                    <i class="nav-icon fas fa-sign-out-alt"> Logout</i>
                </button>

                <% } %>
    </div>


    <div id="main">

        <div id="boxes">
            <% if(session.loggedin) {if (session.user.interviewer) { %>
                Invite people to interview with you using your link: localhost:3000/schedule/<%= session.user.username%>
                    <% if(session.user.appointments) { Object.keys(session.user.appointments).forEach(key=> {
                        %>
                        <div class="box">
                            <div id="date">
                                <%= key.split` `[0] %>
                            </div>
                            <div id="info">
                                Appointment with <%= session.user.appointments[key] %> - <%= parseInt(key.split` `[1])
                                        *2 -2 %> to <%= parseInt(key.split` `[1]) *2 %>
                            </div>
                        </div>
                        <% }) } %>



                            <% }else { %>
                                Ask for a link from an interviewer to get scheduled.


                                <% if(session.user.appointments) { Object.keys(session.user.appointments).forEach(key=>
                                    {
                                    %>
                                    <div class="box">
                                        <div id="date">
                                            <%= key.split` `[0] %>
                                        </div>
                                        <div id="info">
                                            Appointment with <%= session.user.appointments[key] %> - <%=
                                                    parseInt(key.split` `[1]) *2 -2 %> to <%= parseInt(key.split` `[1])
                                                        *2 %>
                                        </div>
                                    </div>
                                    <% }) } %>


                                        <% } } %>
        </div>

    </div>
    <script src="/javascript/script.js"></script>
</body>

</html>